<configuration>
  <system.webServer>
    <!-- Configura IISNode para manejar archivos .js y .json con IISNode -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Redirección de todas las solicitudes a app.js -->
    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuración adicional de IISNode (opcional) -->
    <iisnode node_env="production" />
  </system.webServer>
</configuration>
